<!DOCTYPE html>
<html lang="en">

<head>
  <title>The Olympic Games</title>
  <meta charset="utf-8" /> {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'visualData/css/bootstrap.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'visualData/css/visualData.css' %}" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'visualData/img/favicon.png' %}">
</head>

<body>
  <!-- BEGIN :: Page Container -->
  <div class="grid-container">

    <!-- BEGIN :: HEADER -->
    <header>
      <div class="logo">
        <a href='/'>
          <img src="{% static 'visualData/img/visualData-logo.png' %}" class="responsive-img logo" style='max-height:100px;' alt="Visualizing the Olympics">
        </a>
      </div>
      <div class="title">
        <h1>The Olympic Games</h1>
      </div>
    </header>
    <!-- END :: HEADER -->

    <!-- BEGIN :: NAV -->
    <nav>
      <ul>
        <li><a href='/'>See More</a></li>
        <li><a href='/contact/'>Contact Me</a></li>
        <li><a href='/'>More Navs</a></li>
        <li><a href='/'>More Navs</a></li>
        <li><a href='/'>More Navs</a></li>
        <li><a href='/'>More Navs</a></li>
        <li><a href='/'>More Navs</a></li>
        <li><a href='/'>More Navs</a></li>
        <li><a href='/'>More Navs</a></li>
      </ul>
    </nav>
    <!-- END :: NAV -->

    <!-- BEGIN :: MAIN CONTENT -->
    <main>
      {% block content %} {% endblock %}
    </main>
    <!-- END :: MAIN CONTENT -->

    <!-- BEGIN :: FOOTER -->
    <footer>
      <div>
        <span>
          &copy;2018 {# <!-- FIXME: Update to jinja for auto update --> #}
        </span>
      </div>
    </footer>
    <!-- END :: FOOTER -->

  </div>
  <!-- END :: Page Container -->
</html>
